<html lang="{{ LANGUAGE_CODE|default:'en' }}">
  <head>
    <title>{% block title %}Viewer UI{% endblock title %}</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
  </head>

  <body>
    <div id="wrapper">
      <style media="screen">
      p.head-logo {
            font-size: 200%;
            font-weight: bold;
            }
            /* #page-content{
              width: 100%;
              height: 100%;
            } */
      </style>
      <p class="head-logo">Viewer UI</p>

      <div id="page-content-wrapper">
        <hr class="no-margin" />
        <div class="container-fluid" id="page-content">
          <div class="row">
            <div class="col-lg-12">
              {% block content %}
              {% endblock content %}
              {% block pagination %}
                {% include 'pagination.html' %}
              {% endblock pagination %}
            </div>
          </div>
        </div>
      </div><!-- /#page-content-wrapper -->
  </div><!-- /#wrapper -->
  <footer>
    <hr class="no-margin" />
    <!-- logo here -->
  </footer>
  </body>
</html>
