{% extends "base.html" %}
{% block content %}
<h1>{{ object.title }}</h1>
<p>{{ object.body }}</p>
<a href={{ object.url }} target="_blank">Link to content site</a>
<br>
<a href="{%url 'checker:update_article' pk=object.item_id%}">Edit</a>
<a href="{%url 'checker:delete_article' pk=object.item_id%}">Delete</a>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% endblock content %}
