{% extends "base.html" %}
{% block content %}
  {% if latest_item_list %}
  <ul>
  {% for item in latest_item_list %}
  <li><a href="{%url 'checker:detail' item_id=item.item_id%}">{{ item.title }}</a></li>
      {% endfor %}
  </ul>
  {% else %}
  <p>
  <strong>No items available</strong>
  </p>
  {% endif %}
  <a href="{%url 'checker:create_article'%}">Create</a>

{% endblock content %}
