<style>
#pagination-menu ul{
  list-style: none;
}
#pagination-menu li{
  display: inline;
}
{% if is_paginated %}
</style>
<div id="pagination-menu">
      <ul class="pagination">
{% if page_obj.has_previous %}
     <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
{% else %}
     <li class="disabled"><span>&laquo;</span></li>
{% endif %}
{% for i in paginator.page_range %}
{% if page_obj.number == i %}
    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
{% else %}
    <li><a href="?page={{ i }}">{{ i }}</a></li>
{% endif %}
{% endfor %}
{% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
{% else %}
    <li class="disabled"><span>&raquo;</span></li>
{% endif %}
 </ul>
</div>
{% endif %}
<a id="back-to-top" href="#" class="btn btn-lg back-to-top" role="button" data-toggle="tooltip" data-placement="left">
  <span class="glyphicon glyphicon-chevron-up"></span>
</a>
