{% extends "base.html" %}
{% block content %}
<style>
#tabmenu {
  list-style: none;
}
</style>
<form action="{{ action }}" method="POST">
  {% csrf_token %}
  <!-- <span id="form-list"> -->
  <ul id="tabmenu">
    {% for field in form %}
      <div>{{ field.name }}</div>
      <li class="tab">{{ field }}</li>
    {% endfor %}
  </ul>
  <!-- </span> -->
  <input type="submit" value="Save" />
</form>
{% endblock content %}
